@import "tailwindcss";

@theme {
  --color-background: #FAFAFA;
  --color-foreground: #171717;
  --color-primary: #1D4ED8;
  --color-primary-hover: #1e40af;
  --color-card: #F3F4F6;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
